.rectangle21{
   width: 850px;
   height: 1206px;
   background-color: black;
   margin-left: 250px;
   display: flex;
   margin-top: 25px;
   flex-direction: column;
   border-radius: 20px;
 }
 
 .about {
   font-family: Roboto Slab;
   font-size: 40px;
   font-weight: 700;
   line-height: 52.75px;
   text-align: left;
   color: white;
   margin-left: 50px;
 }
 
 hr{
   width: 200px;
   border: 1px solid;
   margin-top: -55px;
   margin-right: 380px;
   color: rgba(250, 82, 82, 1);
 }
 .text1{
   color: white;
   margin-left: 50px;
   font-family: Poppins;
   font-size: 16px;
   font-weight: 400;
   line-height: 28px;
   text-align: left;
   color: rgba(166, 166, 166, 1);
 }

 .what{
   font-family: Poppins;
   font-size: 28px;
   font-weight: 500;
   line-height: 42px;
   text-align: left;
   color: rgba(255, 255, 255, 1); 
   margin-left: 50px;
 }
 
 .rectangle-1{
   width: 350px;
   height: 203px;
   top: -85px;
   left: -4985px;
   margin-left: 50px;
   border-radius: 12px ;
   opacity: 0px;
   border: 2px solid rgba(33, 36, 37, 1); 
   
 }
 
 .rectangle-2{
   width: 350px;
   height: 203px;
   top: -85px;
   left: -4605px;
   margin-left: 450px;
   border-radius: 12px;
   border: 2px ;
   margin-top: -206px;
   border: 2px solid rgba(33, 36, 37, 1);
   
 }
 
 .image11{
   width: 40px;
   height: 40px;
   top: -65px;
   left: -4965px;
   margin-left: 20px;
   margin-top: 15px;
 }
 
 .ui{
   font-family: Poppins;
   font-size: 22px;
   font-weight: 500;
   line-height: 33px;
   text-align: left;
   color: rgba(255, 255, 255, 1);
   margin-left: 85px;
   margin-top: -40px;
 }
 .lorem{
   font-family: Poppins;
   font-size: 16px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   color: rgba(166, 166, 166, 1);
   margin-left: 85px;
   margin-top: -20px;
 }
 .image22{
   width: 45px;
   height: 40px;
   top: -65px;
   left: -4585px;
   margin-left: 20px;
   margin-top: 15px;
 }
 .app{
   font-family: Poppins;
   font-size: 22px;
   font-weight: 500;
   line-height: 33px;
   text-align: left;
   margin-left: 85px;
   margin-top: -40px;
   color: rgba(255, 255, 255, 1);
 }
 .ipsum{
   font-family: Poppins;
   font-size: 16px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   color: rgba(166, 166, 166, 1);
   margin-left: 85px;
   margin-top: -20px;
 }
 
 .rectangle-3{
   width: 350px;
   height: 203px;
   top: 148px;
   left: -4985px;
   border-radius: 12px ;
   color: aliceblue;
   border: 2px solid rgba(33, 36, 37, 1);
   margin-left: 50px;
   margin-top: 50px;
 }
 .image33{
   width: 40px;
   height: 40px;
   top: 168px;
   left: -4965px;
   margin-left: 20px;
   margin-top: 15px;
 }
 .phot{
   font-family: Poppins;
   font-size: 22px;
   font-weight: 500;
   line-height: 33px;
   text-align: left;
   margin-left: 85px;
   margin-top: -40px;
   color: rgba(255, 255, 255, 1);
 }
 .dolor{
   font-family: Poppins;
   font-size: 16px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   color: rgba(166, 166, 166, 1);
   margin-left: 85px;
   margin-top: -20px;
 }
 .rectangle-4{
   width: 350px;
   height: 203px;
   top: 148px;
   left: -4605px;
   border-radius: 12px ;
   border: 2px ;
   margin-left: 450px;
   margin-top:   -206px;
   border: 2px solid rgba(33, 36, 37, 1);
 
 }
 .image44{
   width: 45px;
   height: 40px;
   top: 168px;
   left: -4585px;
   margin-left: 20px;
   margin-top: 15px;
 
 }
 .web{
   font-family: Poppins;
   font-size: 22px;
   font-weight: 500;
   line-height: 33px;
   text-align: left;
   color: rgba(255, 255, 255, 1);
   margin-left: 85px;
   margin-top: -40px;
 }
 .sit{
   font-family: Poppins;
   font-size: 16px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   color: rgba(166, 166, 166, 1);
   margin-left: 85px;
   margin-top: -20px;
 }
 
 .footer1{
   width: 850px;
   height: 237px;
   top: 411px;
   left: -5045px;
   background-color: rgba(13, 13, 13, 1);
   margin-top: 55px;
 }
 .client{
   font-family: Poppins;
   font-size: 28px;
   font-weight: 500;
   line-height: 42px;
   text-align: left;
   color: rgba(255, 255, 255, 1);
   margin-left: 370px;
   margin-top: 10px;
 }
 .f11{
   width: 90px;
   height: 65px;
   top: 523px;
   left: -4808px;
   margin-left: 200px;
 }
 .f22{
   width: 98px;
   height: 65px;
   top: 523px;
   left: -4586px;
   margin-left: 80px;
 }
 
 .f33{
   width: 103px;
   height: 65px;
   top: 523px;
   left: -4448px;
   margin-left: 100px;
 }
 .last{
   font-family: Poppins;
   font-size: 16px;
   font-weight: 400;
   line-height: 28px;
   text-align: center;  
   color:rgba(166, 166, 166, 1);
 } 