.rectangle{
   width: 850px;
   height: 1206px;
   background-color: black;
   margin-left: 250px;
   display: flex;
   margin-top: 25px;
   flex-direction: column;
   border-radius: 20px;
 }
 
 .about {
   font-family: Roboto Slab;
   font-size: 40px;
   font-weight: 700;
   line-height: 52.75px;
   text-align: left;
   color: white;
   margin-left: 50px;
 }
 
 hr{
   width: 200px;
   border: 1px solid;
   margin-top: -55px;
   margin-right: 400px;
   color: rgba(250, 82, 82, 1);
 }
 .image1{
   width: 38px;
   height: 30px;
   top: -342px;
   left: -2565px;
   margin-left: 70px;
   margin-top: 80px;
 }
 .edu{
   font-family: Poppins;
   font-size: 26px;
   font-weight: 500;
   line-height: 39px;
   text-align: left;
   color: rgba(255, 255, 255, 1);
   margin-left: 150px;
   margin-top: -35px;
 }
 .image2{
   width: 35px;
   height: 33px;
   top: -336px;
   left: -2185px;
   margin-left: 480px;
   margin-top: -65px;
 }
 .exp{
   font-family: Poppins;
   font-size: 26px;
   font-weight: 500;
   line-height: 39px;
   text-align: left;
   color: rgba(255, 255, 255, 1);
   margin-left: 550px;
   margin-top: -35px;
 }
 .rectangle1{
   width: 350px;
   height: 120px;
   top: -288px;
   left: -2565px;
   border-radius: 12px;
   border: 2px solid rgba(33, 36, 37, 1); 
   margin-left: 50px;
 }
 .p1{
   font-family: Poppins;
   font-size: 14px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   color: rgba(33, 36, 37, 1);
   margin-left: 25px;
 }
 .p2{
   font-family: Poppins;
   font-size: 16px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   color: antiquewhite;
   margin-left: 25px;
   margin-top: -35px;
 }
 .p3{
   font-family: Poppins;
   font-size: 14px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   color: rgba(33, 36, 37, 1);
   margin-left: 180px;
   margin-top: -47px;
 }
 .p4{
   font-family: Poppins;
   font-size: 14px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   color: rgba(33, 36, 37, 1);
   margin-left: 25px;
   margin-top: -33px;
 }
 .rectangle2{
   width: 350px;
   height: 120px;
   top: -288px;
   left: -2185px;
   gap: 0px;
   border-radius: 12px ;
   border: 2px ;
   border: 2px solid rgba(33, 36, 37, 1); 
   margin-left: 440px;
   margin-top: -122px;
   color: antiquewhite;
 }
 .pp1{
   font-family: Poppins;
   font-size: 14px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   color: rgba(33, 36, 37, 1);
   margin-left: 25px;
 }
 .pp2{
   font-family: Poppins;
   font-size: 16px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   color: antiquewhite;
   margin-left: 25px;
   margin-top: -10px;
 }
 .pp3{
   font-family: Poppins;
   font-size: 15px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   color: rgba(33, 36, 37, 1);
   margin-left: 25px;
   margin-top: -18px;
 }
 .rectangle3{
   width: 350px;
   height: 120px;
   top: -148px;
   left: -2565px;
   border-radius: 12px;
   border: 2px solid rgba(33, 36, 37, 1); 
   margin-left:50px ;
   margin-top: 20px;
 }
 .f1{
   font-family: Poppins;
   font-size: 14px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   color: rgba(33, 36, 37, 1);
   margin-left: 25px;
 }
 .f2{
   font-family: Poppins;
   font-size: 18px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   color:antiquewhite ;
   margin-left: 25px;
   margin-top: -50px;
 }
 .f3{
   font-family: Poppins;
   font-size: 14px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   color: rgba(33, 36, 37, 1);
   margin-left:180px;
   margin-top: -80px;
 }
 .f4{
   font-family: Poppins;
   font-size: 16px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   color: rgba(33, 36, 37, 1);
   margin-left: 25px;
   margin-top: -45px;
 }
 .rectangle4{
   width: 350px;
   height: 120px;
   top: -148px;
   left: -2565px;
   border-radius: 12px;
   border: 2px solid rgba(33, 36, 37, 1); 
   margin-left:440px ;
   margin-top: -124px; 
 }
 .ff1{
   font-family: Poppins;
   font-size: 14px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   color: rgba(33, 36, 37, 1);
   margin-left: 25px;
 }
 .ff2{
   font-family: Poppins;
   font-size: 18px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   color:antiquewhite ;
   margin-left: 25px;
   margin-top: -15px;
 }
 .ff3{
   font-family: Poppins;
   font-size: 16px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   color: rgba(33, 36, 37, 1);
   margin-left: 25px;
   margin-top: -12px;
 }
 .rectangle5{
   width: 350px;
   height: 120px;
   top: -148px;
   left: -2565px;
   border-radius: 12px;
   border: 2px solid rgba(33, 36, 37, 1); 
   margin-left:50px ;
   margin-top: 25px; 
 }
 .g1{
   font-family: Poppins;
   font-size: 14px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   color: rgba(33, 36, 37, 1);
   margin-left: 25px;
 }
 .g2{
   font-family: Poppins;
   font-size: 18px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   color:antiquewhite ;
   margin-left: 25px;
   margin-top: -15px;
 }
 .g3{
   font-family: Poppins;
   font-size: 14px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   color: rgba(33, 36, 37, 1);
   margin-left: 170px;
   margin-top: -45px;
 }
 .g4{
   font-family: Poppins;
   font-size: 14px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   color: rgba(33, 36, 37, 1);
   margin-left: 25px;
   margin-top: -15px;
 }
 .rectangle6{
   width: 350px;
   height: 120px;
   top: -148px;
   left: -2565px;
   border-radius: 12px;
   border: 2px solid rgba(33, 36, 37, 1); 
   margin-left:440px ;
   margin-top: -125px; 
 }
 .gg1{
   font-family: Poppins;
   font-size: 14px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   color: rgba(33, 36, 37, 1);
   margin-left: 25px; 
 }
 .gg2{
   font-family: Poppins;
   font-size: 18px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   color:antiquewhite ;
   margin-left: 25px;
   margin-top: -15px;
 }
 .gg3{
   font-family: Poppins;
   font-size: 14px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   color: rgba(33, 36, 37, 1);
   margin-left: 25px;
   margin-top: -15px;
 }
 .footer{
   width: 850px;
   height: 431px;
   top: 172px;
   left: -2625px;
   background-color: rgba(33, 36, 37, 1); ;
 }
 
 .tit1{
   font-family: Poppins;
   font-size: 26px;
   font-weight: 500;
   line-height: 39px;
   text-align: left;
   color: rgba(255, 255, 255, 1);
   margin-left: 50px;
 }
 .tit2{
   font-family: Poppins;
   font-size: 26px;
   font-weight: 500;
   line-height: 39px;
   text-align: left;
   color: rgba(255, 255, 255, 1);
   margin-left: 500px;
   margin-top: -65px;
 }
 .web{
   font-family: Poppins;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   text-align: left;
   margin-top: 10px;
   margin-left: 50px;
   color: rgba(166, 166, 166, 1);
 }
 .p85{
   font-family: Poppins;
   font-size: 16px;
   font-weight: 400;
   margin-left: 300px;
   color: rgba(166, 166, 166, 1);
   margin-top: -33px;
 }
 .r1{
   width: 320px;
   height: 6px;
   top: 333px;
   left: -2565px;
   border-radius: 18px ;
   background: rgba(28, 28, 28, 1);
   margin-left: 50px;
 }
 .r2{
   width: 300px;
   height: 6px;
   top: 333px;
   left: -2565px;
   border-radius: 18px;
   background: rgba(255, 100, 100, 1);
   margin-left: 30px;
   margin-top: -6px;
 }
 .mobile{
   font-family: Poppins;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   margin-left: 50px;
   color: rgba(166, 166, 166, 1);
}
.r3{
   width: 244px;
   height: 6px;
   top: 333px;
   left: -2565px;
   border-radius: 18px;
   margin-left: 30px;
   margin-top: -6px;
   background: rgba(146, 114, 212, 1);
}
.r4{
   width: 280px;
   height: 6px;
   top: 333px;
   left: -2565px;
   border-radius: 18px;
   margin-left: 30px;
   margin-top: -6px;
   background: rgba(81, 133, 212, 1);
}
.r5{
   width: 295px;
   height: 6px;
   top: 333px;
   left: -2565px;
   border-radius: 18px;
   margin-left: 30px;
   margin-top: -6px;
   background: rgba(202, 86, 242, 1);
}
.z1{
   width:100px;
   height: 25px;
   top: 301px;
   left: -2185px;
   padding: 5px 20px 5px 20px;
   gap: 10px;
   border-radius: 8px;
   background: rgba(28, 28, 28, 1);
   margin-left: 450px;
   margin-top: -210px;
}
.mot1{
   font-family: Poppins;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   text-align: left;
   color:rgba(166, 166, 166, 1) ;
   margin-top: 1px;
}
.z2{
   width:80px;
   height: 25px;
   top: 301px;
   left: -2185px;
   padding: 5px 20px 5px 20px;
   gap: 10px;
   border-radius: 8px;
   background: rgba(28, 28, 28, 1);
   margin-left: 620px;
   margin-top: -35px;
}
.mot2{
   font-family: Poppins;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   text-align: left;
   color:rgba(166, 166, 166, 1) ;
   margin-top: 1px;
}
.z3{
   width:120px;
   height: 25px;
   top: 301px;
   left: -2185px;
   padding: 5px 20px 5px 20px;
   gap: 10px;
   border-radius: 8px;
   background: rgba(28, 28, 28, 1);
   margin-left: 450px;  
   margin-top: 10px;
}
.mot3{
   font-family: Poppins;
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
   text-align: left;
   color:rgba(166, 166, 166, 1) ;
   margin-top: 1px;
}
.z4{
   width:100px;
   height: 23px;
   top: 301px;
   left: -2185px;
   padding: 5px 20px 5px 20px;
   gap: 10px;
   border-radius: 8px;
   background: rgba(28, 28, 28, 1);
   margin-left: 630px; 
   margin-top: -33px; 
}
.z5{
   width:150px;
   height: 23px;
   top: 301px;
   left: -2185px;
   padding: 5px 20px 5px 20px;
   gap: 10px;
   border-radius: 8px;
   background: rgba(28, 28, 28, 1);
   margin-left: 450px;
   margin-top: 10px;
}
.z6{
   width:100px;
   height: 23px;
   top: 301px;
   left: -2185px;
   padding: 5px 20px 5px 20px;
   gap: 10px;
   border-radius: 8px;
   background: rgba(28, 28, 28, 1);
   margin-left: 650px;
   margin-top: -32px;
}
.z7{
   width:70px;
   height: 23px;
   top: 301px;
   left: -2185px;
   padding: 5px 20px 5px 20px;
   gap: 10px;
   border-radius: 8px;
   background: rgba(28, 28, 28, 1);
   margin-left: 450px;
   margin-top: 10px;
}
.fin{
   font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 28px;
text-align: center;
color: rgba(166, 166, 166, 1);
}